/* fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#laerning-col-1{
    background: linear-gradient(rgba(255, 255, 255, 0.418),rgba(255, 255, 255, 0.411)),url(images/images.jpg);
    background-size: 100% 100%;
}
svg{
    margin-top: -70px;
}
.header{
    /* width: 100%; */
    background: linear-gradient(to top,rgba(30, 231, 30, 0.822),green);
}
 body h1{
    font-weight: bold;
}
#links ul {
    margin-top: 25px;
    list-style: none;
}
#links ul li{
    display: inline-block;
}
#links ul{
  text-align: center;
}
#links ul li a{
    font-size: 20px;
    margin: 10px;
    color: black;
    font-weight: bold;
    transition: 0.5s ease;
}
#links ul li a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 40px rgb(179, 13, 230);
    font-size: 21px;
}
#loginbtn{
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s ease;
    box-shadow: 0px 0px 30px 10px yellowgreen;
    background: linear-gradient(to right,rgba(0, 0, 255, 0.432),rgba(255, 0, 0, 0.466));
    padding:0px 50px;
    color: white;
}
#loginbtn:hover{
    background: linear-gradient(to left,rgba(0, 0, 255, 0.342),rgba(255, 0, 0, 0.349));
   color: white;
}
#regbtn{
    font-size: 25px;
    border-radius: 20px;
    transition: 0.5s ease;
    box-shadow: 0px 0px 30px 10px yellowgreen;
    background: linear-gradient(to right,rgba(0, 0, 255, 0.432),rgba(255, 0, 0, 0.466));
    color: white;
}
#regbtn:hover{
    background: linear-gradient(to left,rgba(0, 0, 255, 0.432),rgba(255, 0, 0, 0.466));
    color: white;
 }
#pencilrow{
    margin-top: -100px;
    overflow: hidden;
}
.popuplinksrow a{
    padding: 5px 30px;
    color: white;
    font-size: 25px;
    border-radius: 30px;
}


/* popup style work */

  .body h1 {
text-align: center;
font-family: Tahoma, Arial, sans-serif;
color: #06D85F;
margin: 80px 0;
}
.box {
width: 40%;
margin: 0 auto;
background: rgba(255,255,255,0.2);
padding: 35px;
border: 2px solid #fff;
border-radius: 20px/50px;
background-clip: padding-box;
text-align: center;
}

.button {
font-size: 1em;
padding: 10px;
color: #fff;
border: 2px solid #06D85F;
border-radius: 20px/50px;
text-decoration: none;
cursor: pointer;
transition: all 0.3s ease-out;
}
.button:hover {
background: #06D85F;
}

.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.popup {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 30%;
position: relative;
transition: all 5s ease-in-out;
}

.popup h2 {
margin-top: 0;
color: #333;
font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}
.popup .close:hover {
color: #06D85F;
}
.popup .content {
max-height: 30%;
overflow: auto;
}
ol li {
font-size: 25px;
}

@media screen and (max-width: 700px){
.box{
width: 70%;
}
.popup{
width: 70%;
}
}
/* select options css */
#select {
    width: 300px;
    height: 40px;
    background-color: #13c2a5;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
}
#footer{
    background: linear-gradient(to top,rgba(30, 231, 30, 0.822),green);
    color: black;
}
#footer, #row{
    padding-top: 20px;
}
#social a i{
font-size: 30px;
margin: 5px;
color: blue;
transition: 0.5s ease;
}
#social a:hover i{
  color: rgb(253, 64, 7);
    }
#contact i{
  font-size: 20px;
  margin: 5px;
  color: blue;
  transition: 0.5s ease;
    }
    #contact i:hover{
        color: rgb(253, 64, 7);
    }
    #community a{
        font-size: 15px;
        font-weight: normal;
        text-decoration: none;
        color: black;
    }
    #contact a{
        text-decoration: none;
        font-size: 15px;
        font-weight: normal;
        color: black;
        transition: 0.5s;
    }
    #contact a:hover{
      color: wheat;
  }
  #copyright{
    background: green;
  }
 @media (max-width:1150px){
#footer-row{
  text-align: center;
}
 }
 /* arear page bookrow css */
 #bookrow{
     margin-top: -130px;
 }
 /* home page pencilrow css */
 @media (max-width:1250px){
   #pencilrow{
margin-top: 0px;
   }
   #learningline{
   text-align: center;
       }
    }
    @media (max-width:760px){
        .header{
            text-align: center;
        }
    }
